
@*@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}*@

<h2>ChangePassword</h2>



<form asp-action="ChangePassword" method="post" asp-controller="Ticket">
    <div class="form-label-group">
        <input type="text" name="oldpassword" class="form-control" placeholder="oldpassword" />
        <label for="password" class="sr-only">oldpassword</label>
    </div>
    &nbsp;
    <div class="form-label-group">
        <input type="password" name="newpassword" class="form-control" placeholder="newpassword" />
        <label for="password" class="sr-only">newpassword</label>
    </div>
    &nbsp;
    <div class="form-label-group">
        <input type="password" name="newpassword1" class="form-control" placeholder="newpassword1" />
        <p>
            @ViewBag.Error
        </p>
    </div>
    <center>
        <button class="btn btn-success" type="submit">Sign In</button>
    
    </center>
</form> 